@import "./variable";


.btn {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150pxx;
    font-size: 14px;
    background-color: $black-color ;
    border-radius: 1px solid $black-color;
}

.btn-outline {
    background-color: transparent;
}

.btn-fill {
    background-color: $black-color;
    color: $text-color-light-1;
}