$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.6rem;
$font-size-l: 2rem;
$font-size-xl: 4rem;
$font-size-xxl: 5.8rem;


$red-color: #ffe8e8;
$black-color: #232323;
$white-color: #fff;

$text-color-1: #232323;
$text-color-2: #323232 $text-color-red: #b05d5d;