@import "./modules/variable";

.header {
    &__text-slide {}

    &__top {}

    &__top__logo {
        font-size: 5.8rem;
        font-size: $font-size-xxl;
        position: relative;
        color: $text-color-dark-1;
        letter-spacing: -80%;

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            height: 5px;
            width: 32px;
            background-color: $text-color-dark-1;
        }
    }

    &__top__right {}

    &__top__right-free {}

    &__top__right-nav {}

    &__top__right-link {}

    &__top__right-icon {}

    &__top__right-quantity {}

    &__bottom {}

    &__bottom-nav {}
}